# Data Loading

In [3]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv("data.csv")
df

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019
2,3,JoJo Siwa - Karma (Official Video),"34,206,747","293,563",NaN,Music,2024
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,643,904,918","44,861,602",NaN,Music,2015
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,"236,085,971",38,NaN,NaN,2021
...,...,...,...,...,...,...,...
995,996,CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...,"943,248","2,949",22,Music,2017
996,997,John McEnroe's most famous outburst happened i...,"4,853,621","7,254",426,Sports,2010
997,998,Adi Golan's Group - Teaser,"56,578",NaN,NaN,Music,2014
998,999,Keg tapping goes horribly wrong.,"751,804","3,427",313,Entertainment,2017
999,1000,LIVE Hurricane Irma - Downtown Orlando - Ameri...,"554,438",184,8,News & Politics,2016

# Data Exploring

In [5]:
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 1000
Number of Columns: 7

In [6]:
df.head(2)

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019

In [7]:
df.tail(2)

,rank,Video,Video views,Likes,Dislikes,Category,published
998,999,Keg tapping goes horribly wrong.,"751,804","3,427",313,Entertainment,2017
999,1000,LIVE Hurricane Irma - Downtown Orlando - Ameri...,"554,438",184,8,News & Politics,2016

In [8]:
df.describe()

              rank    published
count  1000.000000  1000.000000
mean    500.500000  2015.933000
std     288.819436     6.054847
min       1.000000  2005.000000
25%     250.750000  2010.000000
50%     500.500000  2017.000000
75%     750.250000  2021.000000
max    1000.000000  2025.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        973 non-null    object
 4   Dislikes     687 non-null    object
 5   Category     820 non-null    object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [10]:
df.columns

Index(['rank', 'Video', 'Video views', 'Likes', 'Dislikes', 'Category',
       'published'],
      dtype='object')

In [11]:
for i in df.columns:
    print(i)

rank
Video
Video views
Likes
Dislikes
Category
published

In [12]:
df.count()

rank           1000
Video          1000
Video views    1000
Likes           973
Dislikes        687
Category        820
published      1000
dtype: int64

In [13]:
df.nunique()

rank           1000
Video           994
Video views    1000
Likes           843
Dislikes        489
Category         15
published        21
dtype: int64

In [14]:
df['Category'].unique()

array([nan, 'Music', 'Entertainment', 'Sports', 'Comedy',
       'People & Blogs', 'Gaming', 'Pets & Animals', 'Autos & Vehicles',
       'Education', 'Film & Animation', 'News & Politics',
       'Howto & Style', 'Travel & Events', 'Nonprofits & Activism',
       'Science & Technology'], dtype=object)

In [15]:
df.isnull().sum()

rank             0
Video            0
Video views      0
Likes           27
Dislikes       313
Category       180
published        0
dtype: int64

# Data Pre-Prossing

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        973 non-null    object
 4   Dislikes     687 non-null    object
 5   Category     820 non-null    object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [17]:
df.isnull().sum()

rank             0
Video            0
Video views      0
Likes           27
Dislikes       313
Category       180
published        0
dtype: int64

### Dealing with Null Values

In [18]:
def fillNaMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

In [19]:
def fillNaMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = [ 'Likes', 'Dislikes', 'Category']
fillNaMode(columns)

In [20]:
df.isnull().sum()

rank           0
Video          0
Video views    0
Likes          0
Dislikes       0
Category       0
published      0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        1000 non-null   object
 4   Dislikes     1000 non-null   object
 5   Category     1000 non-null   object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

#  Dropping Irrelevant Columns

In [22]:
df.dropna(subset=['Category'], inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        1000 non-null   object
 4   Dislikes     1000 non-null   object
 5   Category     1000 non-null   object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [24]:
def changeFloattoInt64(cols):
    for i in cols:
        # Remove commas and convert to integers
        df[i] = df[i].str.replace(',', '').astype('int64')

columns = ['Likes', 'Dislikes']
changeFloattoInt64(columns)

In [25]:
df['published'].unique()

array([2017, 2019, 2024, 2015, 2021, 2023, 2018, 2007, 2020, 2011, 2012,
       2022, 2008, 2025, 2006, 2014, 2009, 2010, 2016, 2013, 2005])

In [26]:
df_clean = df.copy()

In [27]:
from sklearn.preprocessing import LabelEncoder

def encodeCols(cols):
    for i in cols:
        temp = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(temp))
        # data_LE.fit(temp)             # What is the difference between using "np.ravel" or without using "np.ravel"
        df_clean[i] = data_LE.transform(df[i])

columns = ['Category', 'published']	
encodeCols(columns)

In [28]:
df_clean.head()

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237",19023,859,7,12
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677",3497955,78799,7,14
2,3,JoJo Siwa - Karma (Official Video),"34,206,747",293563,0,7,19
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,643,904,918",44861602,0,7,10
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,"236,085,971",38,0,7,16

In [29]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        1000 non-null   int64
 4   Dislikes     1000 non-null   int64
 5   Category     1000 non-null   int64
 6   published    1000 non-null   int64
dtypes: int64(5), object(2)
memory usage: 54.8+ KB

In [30]:
df_clean.to_csv(r'cleaned-data.csv', index=False, header=True)

In [31]:
import numpy as np
df2 = pd.DataFrame({
    'A': [1,2,3,'?'],
    'B': [2,3,'?',4]
})

df2.replace("?", np.nan, inplace=True)

C:\Users\YC\AppData\Local\Temp\ipykernel_8996\3498320995.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2.replace("?", np.nan, inplace=True)

In [32]:
print(df2)

     A    B
0  1.0  2.0
1  2.0  3.0
2  3.0  NaN
3  NaN  4.0

# 1. Data Splitting / Train-Test Split

In [34]:
X = df_clean.drop(columns=['rank', 'Video'])  
y = df_clean['rank']

In [35]:
trainX, testX, trainY, testY = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=42)

In [41]:
for col in trainX.columns:
    if trainX[col].dtype == 'object':
        # Try to remove commas and convert to int if possible
        try:
            trainX[col] = trainX[col].str.replace(',', '').astype(float)
            testX[col] = testX[col].str.replace(',', '').astype(float)
        except:
            # If not possible, use LabelEncoder for categorical columns
            from sklearn.preprocessing import LabelEncoder
            le = LabelEncoder()
            trainX[col] = le.fit_transform(trainX[col].astype(str))
            testX[col] = le.transform(testX[col].astype(str))

In [42]:
scaler = StandardScaler()
trainX_scaled = scaler.fit_transform(trainX)
testX_scaled = scaler.transform(testX)

# 3. Applying Classifier

In [43]:
clf = RandomForestClassifier(n_estimators=200, random_state=42)
clf.fit(trainX_scaled, trainY)

RandomForestClassifier(n_estimators=200, random_state=42)

In [47]:
# Example: classify if rank is in top 10
df_clean['top10'] = (df_clean['rank'] <= 10).astype(int)
X = df_clean.drop(columns=['rank', 'Video', 'top10'])
y = df_clean['top10']

trainX, testX, trainY, testY = train_test_split(X, y, test_size=0.2, random_state=42)

# ...feature encoding/scaling...
# ...RandomForestClassifier as you already have...

# 4. Testing and Processing the Result

In [44]:
predictions = clf.predict(testX_scaled)

In [48]:
clf = RandomForestClassifier(n_estimators=200, random_state=42)
clf.fit(trainX_scaled, trainY)
predictions = clf.predict(testX_scaled)
accuracy = accuracy_score(testY, predictions)
print("-- Model Accuracy: ", round(accuracy, 3))

-- Model Accuracy:  1.0